*{
    margin:0%;
    padding: 0%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    
    justify-content: center;
    align-items: center;
    
    background-image: url(https://wallpapers.com/images/hd/project-management-aesthetic-desktop-6oxfxe1l1508cpv8.jpg);
     
    background-color: aqua;

 
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:lightcoral;
}
.container{
    margin: 30px 15px;
    padding: 25px;
    position: absolute;
    top:20%;
    left:40%;
    height: 500px;
    width:300px;
    background-color:#0D1B2A;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    
  


}
.row{
    
    height:20%;
    width:100%;
}
.button,.buttonac,.buttondelete,.buttonequal{
    font-size: medium;
    
   background-color: #E0F2FF;
   color:#0D1B2A;
   height: 85px;
    width: 50px;
    border-radius: 10%;
    margin: 10px 2px;

}

.button:hover{
    
    height: 80px;
    width: 45px;
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}
.buttonac:hover{
    
    height: 80px;
    width: 45px;
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}
.buttondelete:hover{
    
    height: 80px;
    width: 45px;
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}
.buttonequal:hover{
    
    height: 80px;
    width: 45px;
      box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
}

.row input{
    font-size: x-large;
    margin:0%;
    padding:0%;
    height:80%;
    width:93%;
    border: 2px solid black;
    border-radius:10% ;
  
}
